.button {
  --button-padding-vertical: var(--size-16);
  --button-padding-horizontal: var(--size-24);

  --button-border-radius: var(--size-16);
  
  --button-color-background: rgba(21, 101, 157, 1);
  --button-color-text: white;
  
  --button-font-size: var(--size-20);
  --button-font-weight: var(--font-weight-medium, 500);
  --button-line-height: var(--size-24);
  --button-text-decoration: none;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  padding: var(--button-padding-vertical) var(--button-padding-horizontal);
  
  border-radius: var(--button-border-radius);
  
  background-color: var(--button-color-background);
  color: var(--button-color-text);
  
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: var(--button-line-height);
  text-decoration: var(--button-text-decoration);
}
